<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vendedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="vendedor">
  <div class="ion-text-center">
    <img
      src="{{ vendedor.imageven}}"
      alt=""
    />
  </div>

  <ion-card-header>
    <ion-card-title>{{ vendedor.apelidoven }}</ion-card-title>
  </ion-card-header>

<ion-card>
  <ion-item>
    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
    <ion-label>{{ vendedor.nomeven }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="at-outline" slot="start"></ion-icon>
    <ion-label>{{ vendedor.emailven }}</ion-label>
  </ion-item>

</ion-card>
  <div *ngIf="!vendedor" class="failed">
    <ion-icon color="danger" name="sad-outline"></ion-icon>
    <p color="danger">
      Não foi possível carregar sua conta! <br> <strong>Reinicie a aplicação...</strong></p>
    <ion-button color="dark" (click)="goToRoute('home')">Voltar para Home</ion-button>
  </div>
</div>

</ion-content>

