
.mainwrapper{
  display: flex;
  max-width: 100%;
  position: relative;
  margin-inline: 1rem;
  margin-top: 5vw;
}
.mainwrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.mainwrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.mainwrapper i:hover{
  background: #f2f2f2;
}
.mainwrapper i:first-child{
  left: -22px;
}
.mainwrapper i:last-child{
  right: -22px;
}
.mainwrapper .maincarousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.maincarousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.maincarousel.dragging img{
  pointer-events: none;
}
.maincarousel img{
  height: 100%;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: 100vw;
}
.maincarousel img:first-child{
  margin-left: 0px;
}
