<ion-menu contentId="main-content" type="overlay" *ngFor="let cliente of resultscli">
  <ion-content class="ion-padding">
    <div class="row" >
      <img
        src="{{cliente.imagecli}}"
        class="avatar"
      />
      <div class="namemail">

        <ion-label>
          <h1>{{cliente.nomecli}}</h1>
          <p>{{cliente.emailcli}}</p>
        </ion-label>

      </div>
    </div>

    <div class="">
      <ion-button class="endereco" color="primary" expand="block" (click)="pagRoute('../es-cidade')" ><ion-icon name="location-outline" slot="start"></ion-icon>LP/SP<ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-button>
    </div>

    <div class="pages">
      <ion-button fill="clear" (click)="pagRoute('../meus-enderecos')"><ion-icon name="location-outline" slot="start"></ion-icon><ion-text>Meus Endereços</ion-text></ion-button>
      <ion-button fill="clear" (click)="pagRoute('../pedidos')"><ion-icon name="pricetag-outline" slot="start" ></ion-icon><ion-text>Pedidos</ion-text></ion-button>
    </div>

    <ion-icon name="help-circle-outline" size="large" color="secondary" class="help"></ion-icon>


  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">

  <div class="toolbar">
  <ion-menu-button color="primary"></ion-menu-button>

  <ion-button fill="clear" size="large"><ion-icon name="settings-outline"></ion-icon></ion-button>
  </div>



  <ion-content>

    <div class="search">
      <img class="searchimg" src="/assets/lupablue.png" alt="">
      <ion-searchbar animated="true" placeholder="Ache Aqui"></ion-searchbar>
    </div>



    <!--<ion-card class="vendedor" *ngFor="let vendedor of resultsven" (click)="showInfoModalVen(vendedor)">-->
        <app-carousel [data]="resultsimg"></app-carousel>
    <!--</ion-card>-->

      <!--<ion-card *ngIf="results.length === 0">
      <ion-card-content>
        <ion-label>Ocorreu um problema, reinicie a aplicação e tente novamente.</ion-label>
      </ion-card-content>
    </ion-card>-->

    <app-carousel [data]="resultsven"></app-carousel>
    </ion-content>
</div>
