///ion-menu


.help{
  margin-top: 60vw;
}

.row{
  flex-wrap: nowrap;
  display: flex;
}

.avatar {
  width: 25vw;
  height: 25vw;
  border-radius: 50px;
  margin-top: 5vw;
}


.endereco {
  font-size: 3.8vw;
  margin-top: 10vw;
  --border-radius:3vw;
}


.namemail{
  display: flex;
  margin-left: 3vw;
  align-items: center;
}

.email{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20vw;
  margin-right: 20vw;
}

.pages{
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: start;

  ion-text{
    color: black;
  }
}


///ion-toolbar

.toolbar{
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50px;
  cursor: pointer;
}

.imgtoolbar {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

///modal

 ion-modal{
  width: 80vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  --ion-backdrop-color: black;
}

.transparent-modal{
  --background:black;

  ion-content{
    --background:transparent;
  }
}

///ion-content

.logoapp{
  width: 70vw;
  height: 40vw;
}

.anuncio{
  margin-top: 7vw;
}

.imgcli{
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.cliente{
  display: flex;
  flex-direction: row;
}

.imgven{
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.searchimg{
  border-radius: 100%;
  height: 25vw;
  width: 25vw;
}


