<ion-menu contentId="main-content" type="overlay" *ngFor="let cliente of resultscli">
  <ion-content class="ion-padding">
    <div class="row" >
      <img
        src="{{cliente.imagecli}}"
        class="avatar"
      />
      <div class="namemail">
        <ion-card-title><strong>{{cliente.nomecli}}</strong></ion-card-title>
        <ion-card-subtitle><strong>{{cliente.emailcli}}</strong></ion-card-subtitle>

      </div>
    </div>

    <div class="">
      <ion-button class="endereco" color="primary" expand="block" (click)="pagRoute('../es-cidade')" ><ion-icon name="location-outline" slot="start"></ion-icon>LP/SP<ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-button>
    </div>

    <div class="pages">
      <ion-button fill="clear" (click)="pagRoute('../meus-enderecos')"><ion-icon name="location-outline" slot="start"></ion-icon><ion-text>Meus Endereços</ion-text></ion-button>
      <ion-button fill="clear" (click)="pagRoute('../pedidos')"><ion-icon name="pricetag-outline" slot="start" ></ion-icon><ion-text>Pedidos</ion-text></ion-button>
    </div>

    <ion-icon name="help-circle-outline" size="large" color="secondary" class="help"></ion-icon>


  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
      <div class="imgtoolbar">
        <img src="assets/lupablue.png" alt="" class="logo" />
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-text-center anuncio">
    <img src="assets/logoapp.png" alt="" class="logoapp">
    </div>

    <ion-card class="vendedor">
      <ion-item lines="none" *ngFor="let vendedor of resultsven" (click)="showInfoModalVen(vendedor)" >
        <ion-label class="ion-text-center">
          <div class="vendedor">
            <img
              src="{{ vendedor.imageven}}"
              alt="" class="imgven"
            />
          </div>
          {{ vendedor.nomeven }}
        </ion-label>
      </ion-item>
    </ion-card>

    <app-carousel [data]="resultsven"></app-carousel>


    <!--
      <ion-card *ngIf="results.length === 0">
      <ion-card-content>
        <ion-label>Você ainda não tem nenhum contato.</ion-label>
      </ion-card-content>
    </ion-card>
    -->


    </ion-content>
</div>
