///ion-menu

.iconhelp {
  position: absolute;
  width: 8vw;
  height: 8vw;
  margin-left: 60vw;
  margin-top: 5vw;
}

.row{
  flex-wrap: nowrap;
  display: flex;
}

.avatar {
  width: 25vw;
  height: 25vw;
  border-radius: 50px;
  margin-top: 5vw;
}

.endereco {
  width: 225px;
  --background: #14a686;
  font-size: 4.8vw;
  margin-top: 10vw;
}

.endereco ion-icon {
  font-size: 5vw;
}

.name{
  justify-content: flex-end;
  display: flex;
  margin-top: 10vw;
  margin-left: 3vw;
}

.email{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20vw;
  margin-right: 20vw;
}

.pages{
  margin-top: 10vw;
  text-align: left;
}

///ion-toolbar

ion-toolbar {
  --padding-end: 2rem;
}

.logo {
  width: 12vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgtoolbar {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

///ion-content
