ion-toolbar{
  --padding-end: 2rem
}

.imgprincipal{
  width: 12vw;
  height: 12vw ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align{
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-searchbar{
 padding: 5%;

 }

 body{
  text-align: center;
 }

 .img1{
  width: 40vw;
  height: 35vw;
  margin: 10%;
 }

 .img2{
  width: 40vw;
  height: 35vw;
  margin: 10%;
 }

